/* Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-bold: 'Poppins Bold';
  --font-medium: 'Poppins Medium';
  --color-pink: #f53e6a;
  --main-color: #fd749b;
  --secondary-color: #281ac8;
  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: var(--font-size-l);
  --container-padding: 0 1rem;
}

/* Fonts */
@font-face {
  font-family: 'Poppins Medium';
  src: url('../fonts/Poppins-Medium.woff') format('woff2'),
    url('../fonts/Poppins-Medium.woff2') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins Bold';
  src: url('../fonts/Poppins-Bold.woff') format('woff2'),
    url('../fonts/Poppins-Bold.woff2') format('woff');
  font-weight: 700;
}

/* General styles */
html,
body {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-medium), sans-serif;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6,
.link {
  font-family: var(--font-bold, sans-serif);
}

h1 {
  font-size: clamp(1.5rem, 10vw, 3.5rem);
  line-height: 1.5;
  margin: 0 0 1.25rem 0;
}

h2 {
  position: relative;
  margin-bottom: 2.25rem;
  font-size: 1.75rem;
  line-height: 2.32;
  background: linear-gradient(
    var(--main-color) 0%,
    var(--secondary-color) 170%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  text-align: center;
}

h2::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3.125rem;
  height: 5px;
  background: var(--color-pink);
  border-radius: 7px;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  height: 54px;
  padding: 1rem 3.7rem;
  background: linear-gradient(
    180deg,
    var(--main-color) -13.56%,
    var(--secondary-color) 158.3%
  );
  border-radius: 100px;
  border: none;
  color: #fff;
  font-size: var(--font-size-s);
  line-height: 21px;
  font-family: 'Poppins Bold', sans-serif;
  cursor: pointer;
}

@media (max-width: 768px) {
  .btn {
    height: 50px;
    padding: 1rem 2.5rem;
  }
}

.wrapper {
  max-width: calc(1310px + 2rem);
  margin: 0 auto;
  padding: var(--container-padding);
}

.container {
  max-width: calc(1180px + 2rem);
  margin: 0 auto;
  padding: var(--container-padding);
}

.container--little {
  max-width: calc(1080px + 2rem);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.paragraph {
  padding: 6.25rem 0 7.2rem;
}

@media screen and (max-width: 767px) {
  .paragraph {
    padding: 3rem 0 3.2rem;
  }
}

.paragraph-center .container > p {
  width: clamp(40ch, 45%, 70ch);
  margin: 0 auto;
  font-size: var(--font-size-m);
  line-height: 2.5;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .paragraph-center .container > p {
    max-width: 100%;
  }
}

.main {
  padding-bottom: 8.125rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Header */
.header {
  padding: 2.5rem 0 2.4rem;
}

.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: flex;
}

.header__menu--item .link {
  position: relative;
  padding: 0.5rem 0;
  color: #333;
  font-size: var(--font-size-s);
  line-height: 21px;
  text-decoration: none;
}

.header__menu--item .link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background: var(--color-pink);
  border-radius: 3px;
  transition: width 0.3s ease;
}

.header__menu--item .link:hover::after {
  width: 33%;
}

.header__menu--item:not(:last-child) {
  margin-right: 4.25rem;
}

.header__burger {
  display: none;
  margin: 0 2vw 0 auto;
}

.header__burger img {
  width: 1.25rem;
  height: 1.25rem;
}

.header__burger--close {
  display: none;
}

@media screen and (max-width: 1024px) {
  .header__nav {
    display: none;
  }

  .header__burger {
    display: block;
  }

  .header .wrapper.show {
    position: relative;
    z-index: 1;
  }

  .header .wrapper.show .header__burger--open {
    display: none;
  }

  .header .wrapper.show .header__burger--close {
    display: block;
  }

  .header .wrapper.show .header__nav {
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    width: 100%;
    padding: 0 1rem;
    background-color: #fff;
  }

  .header__menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .header__menu--item:not(:last-child) {
    margin-right: 0;
    padding: 1rem 0;
  }
}

/* Banner */
.banner {
  position: relative;
  padding-bottom: 12rem;
  background: linear-gradient(
    180deg,
    var(--main-color) -12.41%,
    var(--secondary-color) 88.56%
  );
}

.banner__wrapper {
  display: flex;
  align-items: center;
  padding: 5rem 1rem 3.25rem;
}

.banner__text {
  flex: 1;
  padding-right: clamp(4rem, 8.75rem, 10vw);
  color: #fff;
}

.banner__text span {
  margin-bottom: 1rem;
  font-size: 0.75rem;
  line-height: 1.5;
  text-transform: uppercase;
}

.banner__text p {
  margin: 0;
  font-size: var(--font-size-l);
  line-height: 1.5;
}

.banner__wave {
  position: absolute;
  bottom: -3rem;
  width: 100%;
}

.banner__wave img {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .banner {
    padding-bottom: 6rem;
  }

  .banner__wrapper {
    flex-direction: column-reverse;
  }

  .banner__text {
    padding-right: 0;
  }

  .banner__wave {
    bottom: -1.8rem;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    padding-bottom: 4rem;
  }

  .banner__wave {
    bottom: -1.3rem;
  }
}

/* About */
.about {
  position: relative;
  z-index: 1;
}

.about__quote {
  width: clamp(40ch, 50%, 70ch);
  margin: 0 auto 4.125rem;
  text-align: center;
}

.about__quote blockquote {
  --blocks-amount: 4;
  position: relative;
  padding-bottom: 40px;
  background: linear-gradient(
    180deg,
    var(--main-color) -12.41%,
    var(--secondary-color) 88.56%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-family: var(--font-bold, sans-serif);
  font-size: var(--font-size-l);
  line-height: 2.22;
  flex-basis: calc(100% / var(--blocks-amount));
}

.about__quote blockquote::after {
  content: '';
  position: absolute;
  bottom: calc(0% + 20px);
  left: 50%;
  transform: translate(-50%, 50%);
  width: 3.125rem;
  height: 5px;
  background: var(--color-pink);
  border-radius: 7px;
}

.about__content {
  position: relative;
  padding: 2rem clamp(3rem, 20vw, 18rem) 3.5rem;
  border: 1px solid transparent;
  border-radius: 30px;
  background: #fff;
  text-align: center;
}

.about__content::after {
  content: '';
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(var(--main-color), var(--secondary-color));
  border-radius: 30px;
  z-index: -1;
}

.about__content > img {
  margin-bottom: 2.687rem;
}

.about__content--description {
  margin-bottom: 2.187rem;
  font-size: var(--font-size-m);
  line-height: 2.5;
}

.about__content--icons img:not(:last-child) {
  margin-right: 1.875rem;
}

@media screen and (max-width: 768px) {
  .about__content {
    padding: 2rem;
  }

  .about__quote {
    max-width: 100%;
  }
}

/* History */

.history h2 {
  margin-bottom: 5.375rem;
}

.history__timeline {
  position: relative;
  margin-bottom: 1.875rem;
}

.history__timeline--line {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 100%;
  background-image: url('../images/history-timeline.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.history__timeline--content {
  display: flex;
  flex-direction: column;
}

.history__timeline--content .item {
  width: calc(50% - 3.125rem);
  padding-bottom: 2.5rem;
}

.history__timeline--content .item:nth-child(odd) {
  text-align: right;
}

.history__timeline--content .item:nth-child(even) {
  align-self: flex-end;
}

.history__timeline--content .item h4 {
  margin-bottom: 1.25rem;
  font-size: 1.5rem;
  line-height: 1.25;
  color: var(--color-pink);
}

.history__timeline--content .item p {
  font-size: 0.875rem;
  line-height: 2.14;
}

.history__continue {
  font-family: 'Poppins Bold', sans-serif;
  font-size: 0.75rem;
  line-height: 1.66;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .history__timeline--line {
    display: none;
  }

  .history__timeline--content .item {
    width: 100%;
  }

  .history__timeline--content .item:nth-child(odd) {
    text-align: initial;
  }

  .history__timeline--content .item:nth-child(even) {
    align-self: initial;
  }
}

/* Team */
.team .items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.75rem;
}

.team .item {
  position: relative;
  flex: 1 0 auto;
  height: 11.6rem;
  background: #c4c4c4;
  border-radius: 15px;
  transition: all 0.4s ease;
}

.team .item::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(var(--main-color), var(--secondary-color));
  border-radius: 15px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.4s linear;
}

.team .item__content {
  position: absolute;
  bottom: 25px;
  left: 40px;
  color: #fff;
  transform: translateY(100px);
  transition: all 0.4s ease;
  z-index: 1;
}

.team .item__content > p:first-child {
  margin-bottom: 0.2rem;
  font-family: 'Poppins Bold', sans-serif;
}

.team .item:hover {
  z-index: 1;
}

.team .item:hover::before {
  opacity: 1;
}

.team .item:hover .item__content {
  transform: translateY(0);
}

.team .item:hover .team .item:hover .item__content {
  transform: translateY(0);
}

.team .item:nth-child(even) {
  height: calc(11.6rem + (1.5rem * 2));
}

.team .item:nth-child(3) {
  height: calc(11.6rem + (1.5rem * 2) + (1.625rem * 2));
  margin: 0 -3rem;
}

.team .item:nth-child(2) {
  margin-left: -4rem;
}

.team .item:nth-child(4) {
  margin-right: -4rem;
}

/* Subscribe */
.subscribe__form {
  display: flex;
  justify-content: center;
  margin-top: 1.44rem;
}

.subscribe__form--input {
  padding: 1rem 1.5rem;
  margin-right: 0.5rem;
  border: 1px solid transparent;
  border-radius: 100px;
  background-image: linear-gradient(white, white),
    linear-gradient(var(--main-color), var(--secondary-color));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  text-transform: uppercase;
}

.subscribe__form--input::placeholder {
  color: #333;
  font-size: 0.875rem;
  line-height: 1.5;
}

.subscribe__form .btn {
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .subscribe__form {
    flex-direction: column;
  }

  .subscribe__form--input {
    margin-bottom: 1rem;
  }
}

/* Footer */
.footer {
  background-color: #151515;
}

.footer .wrapper {
  max-width: calc(1370px + 2rem);
  padding: 4.31rem 1rem 0;
}

.footer .item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  color: #fff;
}

.footer .item:not(:last-child) {
  margin-right: 4rem;
}

.footer .item:first-of-type {
  flex-grow: 2;
  margin-right: clamp(4rem, 9vw, 9rem);
}

.footer .item:last-of-type {
  flex-grow: 2;
}

.footer .item:nth-of-type(3) {
  margin-right: clamp(4rem, 9vw, 9rem);
}

.footer .item:nth-of-type(3) > a {
  margin-top: auto;
}

.footer .item p,
.footer .item li,
.footer .item a,
.footer .item li > a {
  font-size: 0.875rem;
  line-height: 1.71;
  color: #a2a2a2;
  text-decoration: none;
}

.footer__content {
  display: flex;
}

.footer .item__social {
  margin-top: auto;
}

.footer .item__social a:not(:last-child) {
  margin-right: var(--font-size-l);
}

.footer .item__header {
  margin-bottom: 1.875rem;
  font-size: var(--font-size-l);
  line-height: 1.67;
}

.footer .item__images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer .item__images > li {
  position: relative;
  height: 4.375rem;
  width: 4.375rem;
  margin: 0 0.625rem 0.625rem 0;
  background-color: #c4c4c4;
}

.footer .item__images > li::before {
  content: '\002B';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.875rem;
  opacity: 0;
  transition: all 0.3s ease;
}

.footer .item__images > li:hover {
  background-color: #d8d8d8;
}

.footer .item__images > li:hover::before {
  opacity: 1;
}

.footer__copyright h5 {
  padding: 1rem 0;
  font-size: 0.75rem;
  line-height: 2;
  color: #989898;
}

@media screen and (max-width: 1024px) {
  .footer .item:not(:last-child) {
    margin-right: 0;
  }

  .footer .item:first-of-type {
    flex-grow: 0;
    margin-right: 0;
  }

  .footer .item:last-of-type {
    flex-grow: 0;
  }

  .footer .item:nth-of-type(3) {
    margin-right: 0;
  }

  .footer__content {
    flex-direction: column;
  }

  .footer .item {
    margin-bottom: 2rem;
  }

  .footer .item__header {
    margin-bottom: 1rem;
  }
}
